[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=ubuntu
Group=nginx
WorkingDirectory=/var/lib/jenkins/workspace/website
ExecStart=/var/lib/jenkins/workspace/website/env/bin/gunicorn --workers 3 --log-level debug --error-logfile /var/lib/jenkins/workspace/website/error.log --bind unix:/var/lib/jenkins/workspace/website/app.sock website.wsgi:application

[Install]
WantedBy=multi-user.target
