<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Personal Pay Account</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>


       <li>
       {{ payaccounts.payment_date}}
        {{ payaccounts.student_name}}
        {{ payment.payable_towards}}
        {{ payment.amount_paid}}
        {{ payment.account_name}}
        {{ payment.receipt_number}}
        {{ payment.paid_by}}
        {{ payment.name}}
        </li>



<h2> Work on filter to get just required entry </h2>

        
        <script src="" async defer></script>
    </body>
</html>