Back ups
Class Teacher
students - pagination, search, ordering
Authentication logic

Name of class

Teacher detail page as resume format
Student detail to include latest payments, photo, performance, interests

Payments:
Account and sub-account money paid into. Its updated balance. eg Cash at hand. Exam or Fee
Later include module for sms to payer
Produce statement

Record account transfers of money:
    From which account to which
    How much
    Updated accounts balances
Produce reports for any timeframe for:
    Dated Payments
    Dated Expenditure

if datetime.now().month<=3:
term = term1
if datetime.now().month>3 and if datetime.now().month<=8:
term = term2
if datetime.now().month>8 and if datetime.now().month<=12:
term = term3

term1fee = 1500
term2fee = 1500
term3fee = 1500

term1 = Jan-March
term2 = April-July
term3 = Sep-Nov