name: Django Build and Push Image

on:
  push:
    branches: [ s3 ] # Trigger on pushes to master branch

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_STORAGE_BUCKET_NAME: ${{ secrets.AWS_STORAGE_BUCKET_NAME }}
    steps:
      - uses: actions/checkout@v3

      - name: Access secrets
        run: |
          DEBUG=${{ secrets.DEBUG }}
          SECRET_KEY=${{ secrets.SECRET_KEY }}
          AWS_ACCESS_KEY_ID=${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY=${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_STORAGE_BUCKET_NAME=${{ secrets.AWS_STORAGE_BUCKET_NAME }}
          # ... access other secrets

      - name: Collectstatic
        run: |
          pip install -r requirements.txt
          python manage.py collectstatic --noinput

      - name: Build Docker image
        run: |
          docker build -t django-img .
          docker tag django-img gitauwairimu/djangoscherp-dev:$GITHUB_RUN_ID

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKER_DJANGOSCHERP_DEV_TOKEN }}

      - name: Push Docker image
        run: |
          docker push gitauwairimu/djangoscherp-dev:$GITHUB_RUN_ID

  deploy:
    runs-on: ubuntu-latest
    needs: build
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_STORAGE_BUCKET_NAME: ${{ secrets.AWS_STORAGE_BUCKET_NAME }}
    steps:
      - uses: actions/checkout@v3

      - name: Add SSH key
        run: |
          echo "${{ secrets.PEM_KEY }}" >> termapp.pem
          chmod 600 termapp.pem  # Set appropriate permissions          
          pwd
          ls

      - name: Install Ansible (adjust based on your OS)
        run: |
          sudo apt install ansible -y  # Install Ansible (replace with yum or dnf for other distributions)


      - name: Execute Ansible Playbook
        run: |
          ansible-playbook deployment/ansible/deployPlaybook.yml


