name: Django Build and Push Image

on:
  push:
    branches: [ s3 ] # Trigger on pushes to master branch

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_STORAGE_BUCKET_NAME: ${{ secrets.AWS_STORAGE_BUCKET_NAME }}
    steps:
      - uses: actions/checkout@v3

      - name: Access secrets
        run: |
          DEBUG=${{ secrets.DEBUG }}
          SECRET_KEY=${{ secrets.SECRET_KEY }}
          AWS_ACCESS_KEY_ID=${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY=${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_STORAGE_BUCKET_NAME=${{ secrets.AWS_STORAGE_BUCKET_NAME }}
          # ... access other secrets

      - name: Collectstatic
        run: |
          pip install -r requirements.txt
          python manage.py collectstatic --noinput

      - name: Build Docker image
        run: |
          docker build -t django-img .
          docker tag django-img gitauwairimu/djangoscherp-dev:latest

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKER_DJANGOSCHERP_DEV_TOKEN }}

      - name: Push Docker image
        run: |
          docker push gitauwairimu/djangoscherp-dev:latest

#      - name: Test if running
#        run: |
 #         curl localhost:8000

