name: Django Build and Push Image

on:
  push:
    branches: [ dev ] # Trigger on pushes to master branch

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Access secrets
        run: |
          DEBUG=${{ secrets.DEBUG }}
          SECRET_KEY=${{ secrets.SECRET_KEY }}
          # ... access other secrets

      - name: Build Docker image
        run: |
          docker build -t django-img .
          docker tag django-img gitauwairimu/djangoscherp-dev:latest

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKER_DJANGOSCHERP_DEV_TOKEN }}

      - name: Push Docker image
        run: |
          docker push gitauwairimu/djangoscherp-dev:latest

#      - name: Test if running
#        run: |
 #         curl localhost:8000

